{
    border: 2px red;
}
header {
         background: lightblue;
}
p {
    white-space: nowrap;
    width: 200px;
    border: 1px solid #000000;
    overflow: hidden;
    text-overflow: clip;
}
body {
    font-family: Arial, sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.4;
    color: darkblue;
    background-color: whitesmoke;
}

img {
    max-width: 100%;
    margin: 20px;
    height: auto;
    width: auto;
}

a {
    color: rebeccapurple;
    text-decoration: none;
}
a:focus {
    background-color: chartreuse;
}
a:hover {
    color: darkmagenta;
}