#en-tete {
    border: 3px solid red;
}
header {
         background: lightgoldenrodyellow;
}
#p-statut {
    white-space: nowrap;
    width: 260px;
    border: 1px solid #000000;
    overflow: hidden;
    text-overflow: clip;
}
body {
    font-family: Arial, sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.4;
    color: darkblue;
    background-color: whitesmoke;
}

img {
    max-width: 50%;
    height: auto;
    width: auto;
    border-bottom-left-radius:150px;
    border-top-right-radius: 150px;
    padding:20px;
}

#list-experience {
    background-color: lightcyan;
    padding: 20px;
}

a {
    color: rebeccapurple;
    text-decoration: none;
}
a:focus {
    background-color: chartreuse;
}
a:hover {
    color: darkmagenta;
}

div {
    animation-name: mymove;
}